<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PropertyLists_Quan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36AA218E1EC4CD8D000FD537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36AA21A21EC4CD94000FD537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36AA21AD1EC4CD94000FD537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
